<% extend ('../../auth_layout')%>
<div class="container" style="padding: 90px 90px 90px 90px;">
    <div class="jumbotron">
        <h4>PET CARE SYSTEM</h4>
        <h5>PASSWORD RECOVERY</h5>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form action="/forgetPassword" method="POST">
                    <div class="form-group">
                        <label for="user" class="label" style="color: black; font-size: 18pz;">Email</label>
                        <input id="user" type="email" class="form-control" required name="email">
                    </div>
                    <div class="form-group">
                        <% if(error != ""){ %>
                        <div class="form-group form-success-gone">
                            <div class="alert alert-danger">
                                <%= error  %>
                            </div>
                        </div>
                        <% } %>
                        <% if(success != ""){ %>
                        <div class="form-group form-success-gone">
                            <div class="alert alert-success">
                                <%= success  %>
                            </div>
                        </div>
                        <% } %>
                        <input type="submit" class="btn btn-block btn-primary" value="SEND PASSWORD RECOVERY EMAIL">
                    </div>
                </form>
                <a href="/" style="text-decoration: none;"><b>Click here to LOGIN</b></a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>