<% extend ('../layout')%>

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Edit Food Item</h2>

            </div>
        </div>
        <!-- /. ROW  -->
        <hr />
        <div class="row">
            <div class="col-md-12">
                <!-- Form Elements -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Food Element
                    </div>
                    <div class="panel-body">
                        <form role="form" method="POST" action="/admin/editfood"  >
                            <div class="row">
                                <!-- Left Side -->
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label>Food Name</label>
                                        <input class="form-control" name="foodName" value="<%= d.val().name %>" required type="text"/>
                                    </div>

                                    <div class="form-group">
                                        <label> Food Quantity </label>
                                        <input class="form-control" name="foodQuantity" value="<%= d.val().quantity %>" required type="number"/>
                                    </div>
                                    
                                    
                                </div>
                                <!-- Right Side -->
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label>Food Type</label>
                                        <select name="foodType" class="from-control">
                                            

                                            <% if ( d.val().type == "Dog Food"){%>
                                                <option value="Dog Food" selected >Dog Food</option>
                                                <%} else {%>
                                                    <option value="Dog Food">Dog Food</option>
                                                <%}%>
                                            <% if ( d.val().type == "Cat Food"){%>
                                                <option value="Cat Food" selected >Cat Food</option>
                                                <%} else {%>
                                                    <option value="Cat Food">Cat Food</option>
                                                <%}%>
                                            <% if ( d.val().type == "Fish Food"){%>
                                                <option value="Fish Food" selected >Fish Food</option>
                                                <%} else {%>
                                                    <option value="Fish Food">Fish Food</option>
                                                <%}%>


                                        </select>
                                        <!-- <input class="form-control" name="foodType" required/> -->
                                    </div>

                                    <div class="form-group">
                                        <label> Food Price </label>
                                        <input type="number" class="form-control" value="<%= d.val().price %>" name="foodPrice" required/>
                                        <input type="hidden" name="id" value="<%= d.val().id %>">
                                    </div>

                                </div>

                            </div>
                            <input type="submit" value="UPDATE" class="btn btn-block btn-primary" />
                        </form>
                    </div>
                </div>
                <!-- End Form Elements -->
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>