<% extend ('../../layout')%>
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>PET CARE SYETEM</h2>
                <h3>Admin Dashboard</h3>
            </div>
        </div>
        <!-- /. ROW  -->
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>MOBILE APPLICATION USERS</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                    <span class="icon-box bg-color-red set-icon">
                        <i class="fa fa-users"></i>
                    </span>
                    <div class="text-box">
                        <p class="main-text" id="users">0</p>
                        <p class="text-muted">USERS</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                    <span class="icon-box bg-color-green set-icon">
                        <i class="fa fa-user-friends"></i>
                    </span>
                    <div class="text-box">
                        <p class="main-text" id="customers">0</p>
                        <p class="text-muted">CUSTOMERS</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                    <span class="icon-box bg-color-blue set-icon">
                        <i class="fa fa-user-md"></i>
                    </span>
                    <div class="text-box">
                        <p class="main-text" id="doctors">0</p>
                        <p class="text-muted">DOCTORS</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                    <span class="icon-box bg-color-blue set-icon">
                        <i class="fa fa-hospital"></i>
                    </span>
                    <div class="text-box">
                        <p class="main-text" id="clinics">0</p>
                        <p class="text-muted">CLINICS</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. ROW  -->
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>FOOD ITEMS IN STOCK</h4>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                    <span class="icon-box bg-color-red set-icon">
                        <i class="fa fa-bone"></i>
                    </span>
                    <div class="text-box">
                        <p class="main-text" id="foods">0</p>
                        <p class="text-muted">FOOD ITEMS</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                    <span class="icon-box bg-color-green set-icon">
                        <i class="fa fa-store-alt"></i>
                    </span>
                    <div class="text-box">
                        <p class="main-text" id="stock">0</p>
                        <p class="text-muted">TOTAL STOCK</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. ROW  -->
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>APPOINTMENTS & ORDERS</h4>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                    <span class="icon-box bg-color-red set-icon">
                        <i class="fa fa-bone"></i>
                    </span>
                    <div class="text-box">
                        <p class="main-text" id="appointments">0</p>
                        <p class="text-muted">APPOINTMENTS</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                    <span class="icon-box bg-color-green set-icon">
                        <i class="fa fa-store-alt"></i>
                    </span>
                    <div class="text-box">
                        <p class="main-text" id="orders">0</p>
                        <p class="text-muted">ORDERS</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. ROW  -->
        <hr />
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->